body{
    font-family: monospace, 'Courier New', Courier;
    font-weight: bold;
    align-items: center;
    margin: 0 auto;
    scroll-behavior: smooth;

}
a{
    cursor:pointer;

}

input{
    border: 4px rgb(61, 61, 61);
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
    width: 15rem;
    padding:1.5px;

}

label{
}

input[type=button] {
    border: 4px;
    background-color: #42A5F5;
    padding-top: 2px;
    font-size: 0.875rem;
  font-weight: bold; 
  color: #1a202c; 
  border-radius: 12px;
 
}